.secondary-button-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}

.secondary-button-button {
  color: var(--dl-color-gray-white);
  outline: none;
  background: linear-gradient(310deg, #ddcedf, #f3f3f5);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  border-radius: 80px;
  font-size: large;
  margin-left: 12px;
  margin-top: 9px;
  padding-bottom: var(--dl-space-space-triplequarterunit);
}

.secondary-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}